@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #F7D4E3;
}

.grid-container{
	display:grid;
	grid-template-areas: 
		'header header header header'
		'navbar middle middle right'
		'navbar middle middle right'
		'footer footer footer footer';
	grid-gap: 1em;
	text-align: center;

}
.header{
	grid-area: header;
	background-color: #C21460;
	padding: 30px;
	text-align: center;
	font-size: 50px;
}
.navbar{
	grid-area: navbar;
	background-color: #FD5D08;
}
.middle{
	grid-area: middle;
}
.right{
	grid-area: right;
}
.footer{
	grid-area: footer;
	background-color:#341809;
	padding: 10px;
	text-align: center;
	color: #FDDEE0;

}

.navbar,
.middle,
.right{
	padding: 10px
}

@media (max-width : 700px ){
	.grid-container {
		grid-template-areas: 
			'header header header header'
			'navbar navbar navbar navbar'
			'middle middle middle middle'
			'right right right right'
			'footer footer footer footer';
	}
}
