@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #F7D4E3;
}
ul{
  color: white;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
ul:hover{
	background-color: #C21460
}

/*----Classes Below Here----*/

.grid-container{
	display:grid;
	grid-template-areas: 
		'header header header header'
		'navbar middle middle right'
		'navbar middle middle right'
		'footer footer footer footer';
	grid-gap: 1em;
	text-align: center;
}
.header{
	grid-area: header;
	background-color: #C21460;
	padding: 30px;
	text-align: center;
	font-size: 50px;
}
.navbar{
	grid-area: navbar;
	background-color: #FD5D08;
	font-size: 20px;
}
.middle{
	grid-area: middle;
}
.right{
	grid-area: right;
}

.pbody{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
}

.footer{
	grid-area: footer;
	background-color:#341809;
	padding: 10px;
	text-align: center;
	color: #FDDEE0;
}
.footer li {
	display: inline-block;
	list-style-type: none;
	font-size: 20px;
	padding: 20px;
	cursor: pointer;
}


.navbar,
.middle,
.right{
	padding: 20px
	
}

@media (max-width : 700px ){
	.grid-container {
		grid-template-areas: 
			'header header header header'
			'navbar navbar navbar navbar'
			'middle middle middle middle'
			'right right right right'
			'footer footer footer footer';
	}
}
